<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title><%= title %></title>
</head>
<body>
    <h1><%= title %></h1>
    <p>EJS welcome to</p>
    <p><a href="/">to index</a></p>
    <form action="/api/testGet.json" method="GET">
        <p><input type="text" name="userName"></p>
        <p><input type="password" name="pwd"></p>
        <p><button type="submit">Submit</button></p>
    </form>
    <img src="./output/asset/image/koa.jpg" alt="">
</body>
</html>